@import "./sprite.scss";

@mixin icon($url, $y, $mult: 1) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: 0 $y * $mult;
  background-size: $spritesheet-width * $mult $spritesheet-height * $mult;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin pos-x-center() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@mixin pos-y-center() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin pos-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
